In [1]:
# Para imprimir a versão do python usada neste notebook
from platform import python_version
print('Veersão do Python usada neste Jupyter notebook', python_version())

Veersão do Python usada neste Jupyter notebook 3.9.13

In [2]:
# Para instalação silenciosa do pacote watermark neste caso(mas da para fazer isso por cada pacote)
!pip install -q -U watermark

## Primeira Forma de Gerar Dados Aleatorios

In [16]:
import csv
import random
from datetime import datetime, timedelta
import pandas as pd

In [17]:
# Marca(Mostra) as versões dos pacotes carregados no jupyter notebook
%reload_ext watermark
%watermark -a "Mauro Gallotta" --iversions

Author: Mauro Gallotta

pandas: 1.4.4
csv   : 1.0

In [18]:
# Gerar dados de exemplo
def generate_data(num_rows):
    data = []
    for i in range(num_rows):
        # Gerar ID de transação único
        id_transacao = i + 1

        # Gerar horário de pedido aleatório nos últimos 365 dias
        horario_pedido = datetime.now() - timedelta(days=random.randint(0, 365))

        # Gerar localidade em números aleatórios (supondo números de 1 a 100)
        localidade_em_numeros = random.randint(1, 100)

        # Gerar nome(número) do item aleatório
        nome_item = f"Item_{random.randint(1, 10)}"

        # Gerar quantidade do item (supondo entre 1 e 10)
        quantidade_item = random.randint(1, 10)

        # Gerar latitude e longitude aleatórias (supondo valores em uma faixa razoável)
        latitude = round(random.uniform(-90, 90), 6)
        longitude = round(random.uniform(-180, 180), 6)

        data.append([id_transacao, horario_pedido, localidade_em_numeros, nome_item, quantidade_item, latitude, longitude])

    return data

# Escrever dados em um arquivo CSV
def write_to_csv(data, filename):
    with open(filename, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(['id_transacao', 'horario_pedido', 'localidade_em_numeros', 'nome_item', 'quantidade_item', 'latitude', 'longitude'])
        writer.writerows(data)

# Número de linhas desejadas no dataset
num_linhas = int(input('Digite quantidade de linhas do seu Database? '))
num_rows = num_linhas

# Gerar dados das linhas
data = generate_data(num_rows)

# Escrever(grava) dados em um arquivo CSV
write_to_csv(data, 'dataset.csv')
print("Seu Database esta pronto!")

Digite quantidade de linhas do seu Database? 300
Seu Database esta pronto!

## Carregando e Compreendendo os Dados

In [19]:
# Carregamento do dataset criado no python
df_food_delivery = pd.read_csv("dataset.csv", encoding = 'utf-8')

# Shape dos dados (LINHAS E COLUNAS)
df_food_delivery.shape

(300, 7)

In [20]:
#Visualização das primeiras linhas dos dados
df_food_delivery.head()

,id_transacao,horario_pedido,localidade_em_numeros,nome_item,quantidade_item,latitude,longitude
0,1,2023-08-22 15:49:43.623937,33,Item_3,9,75.305890,-167.695700
1,2,2024-03-02 15:49:43.623937,77,Item_3,7,-58.695623,-37.145353
2,3,2023-04-18 15:49:43.623937,31,Item_9,6,77.943246,-171.415322
3,4,2023-06-28 15:49:43.623937,60,Item_7,5,-72.924345,-171.210506
4,5,2023-11-05 15:49:43.623937,10,Item_4,8,-44.270912,177.507945

In [21]:
# Renomina o nome da coluna
df_food_delivery = df_food_delivery.rename(columns={'localidade_em_numeros': 'localidade'})

#Visualização das ultimas linhas dos dados
df_food_delivery.tail()

,id_transacao,horario_pedido,localidade,nome_item,quantidade_item,latitude,longitude
295,296,2023-07-21 15:49:43.626934,24,Item_9,2,8.443637,-164.053207
296,297,2023-05-11 15:49:43.626934,62,Item_1,6,45.966415,131.282580
297,298,2023-09-12 15:49:43.626934,26,Item_2,4,60.350979,-99.115837
298,299,2023-07-31 15:49:43.626934,42,Item_2,2,12.735657,-31.891426
299,300,2023-10-21 15:49:43.626934,81,Item_6,9,-74.996157,20.346911

In [22]:
# Modificar os nomes dos itens nas linhas onde o nome do item é "Item_numero"
df_food_delivery.loc[df_food_delivery['nome_item'] == 'Item_1', 'nome_item'] = 'vinho'
df_food_delivery.loc[df_food_delivery['nome_item'] == 'Item_2', 'nome_item'] = 'carne'
df_food_delivery.loc[df_food_delivery['nome_item'] == 'Item_3', 'nome_item'] = 'massa'
df_food_delivery.loc[df_food_delivery['nome_item'] == 'Item_4', 'nome_item'] = 'salada'
df_food_delivery.loc[df_food_delivery['nome_item'] == 'Item_5', 'nome_item'] = 'sobremesa'
df_food_delivery.loc[df_food_delivery['nome_item'] == 'Item_6', 'nome_item'] = 'refri'
df_food_delivery.loc[df_food_delivery['nome_item'] == 'Item_7', 'nome_item'] = 'pizza'
df_food_delivery.loc[df_food_delivery['nome_item'] == 'Item_8', 'nome_item'] = 'coquetel'
df_food_delivery.loc[df_food_delivery['nome_item'] == 'Item_9', 'nome_item'] = 'esfiha'
df_food_delivery.loc[df_food_delivery['nome_item'] == 'Item_10', 'nome_item'] = 'suco'

# Visualização dos dados
df_food_delivery.head(40)

,id_transacao,horario_pedido,localidade,nome_item,quantidade_item,latitude,longitude
0,1,2023-08-22 15:49:43.623937,33,massa,9,75.305890,-167.695700
1,2,2024-03-02 15:49:43.623937,77,massa,7,-58.695623,-37.145353
2,3,2023-04-18 15:49:43.623937,31,esfiha,6,77.943246,-171.415322
3,4,2023-06-28 15:49:43.623937,60,pizza,5,-72.924345,-171.210506
4,5,2023-11-05 15:49:43.623937,10,salada,8,-44.270912,177.507945
5,6,2023-04-30 15:49:43.623937,54,massa,6,16.080281,-5.673279
6,7,2024-02-16 15:49:43.623937,9,salada,5,33.319960,56.199351
7,8,2023-06-27 15:49:43.623937,78,pizza,8,37.070502,86.488730
8,9,2023-04-12 15:49:43.623937,64,pizza,9,70.568101,-168.195065
9,10,2023-05-01 15:49:43.623937,8,coquetel,4,24.528628,-160.282894
10,11,2023-03-31 15:49:43.623937,2,carne,6,-75.138506,-86.774842
11,12,2024-02-25 15:49:43.623937,33,refri,10,-38.399324,-108.617682
12,13,2023-05-17 15:49:43.623937,84,coquetel,8,4.155890,-83.074128
13,14,2024-03-17 15:49:43.623937,17,carne,10,-19.013821,-175.408277
14,15,2023-07-26 15:49:43.623937,10,coquetel,4,69.921921,-35.275781
15,16,2023-07-30 15:49:43.623937,32,vinho,2,4.640888,34.654917
16,17,2023-10-26 15:49:43.623937,88,pizza,7,-85.414716,89.187211
17,18,2023-05-20 15:49:43.623937,28,sobremesa,10,7.622029,56.927601
18,19,2023-08-31 15:49:43.623937,72,coquetel,8,-9.188734,86.957963
19,20,2023-07-26 15:49:43.623937,49,coquetel,5,45.726904,-56.684251
20,21,2023-08-23 15:49:43.623937,31,massa,10,81.130292,148.879209
21,22,2023-06-04 15:49:43.623937,82,refri,6,-72.715931,-5.968564
22,23,2023-07-19 15:49:43.623937,23,pizza,5,12.428197,103.644143
23,24,2023-07-27 15:49:43.623937,23,salada,5,-37.640831,-99.415741
24,25,2023-06-27 15:49:43.623937,76,esfiha,2,86.526425,60.379596
25,26,2023-08-26 15:49:43.623937,23,suco,3,83.497450,-105.396010
26,27,2023-10-07 15:49:43.623937,3,sobremesa,5,-85.251505,-140.920042
27,28,2023-09-07 15:49:43.623937,10,salada,1,-58.414524,-178.328808
28,29,2023-07-29 15:49:43.623937,47,massa,8,-86.632157,174.389180
29,30,2023-11-20 15:49:43.623937,39,massa,1,73.074271,147.306278
30,31,2023-05-10 15:49:43.623937,72,suco,10,-9.002668,-40.600671
31,32,2024-03-03 15:49:43.623937,5,massa,9,81.996309,-10.946432
32,33,2023-07-31 15:49:43.623937,76,suco,10,81.559405,9.937207
33,34,2023-04-18 15:49:43.623937,77,pizza,8,-19.577860,9.604461
34,35,2023-04-13 15:49:43.623937,95,carne,4,1.048231,-121.174001
35,36,2023-04-11 15:49:43.623937,28,coquetel,1,-17.977407,140.824060
36,37,2023-10-24 15:49:43.623937,81,suco,7,59.466103,-18.109012
37,38,2023-09-29 15:49:43.623937,30,massa,1,-23.381979,-81.133920
38,39,2023-08-06 15:49:43.623937,33,refri,6,-61.770580,75.315773
39,40,2023-08-11 15:49:43.623937,53,massa,2,87.815598,58.634946

In [23]:
# Controla os valores unicos das colunas 
df_food_delivery.nunique()

id_transacao       300
horario_pedido     276
localidade          98
nome_item           10
quantidade_item     10
latitude           300
longitude          300
dtype: int64

In [24]:
# Controla o tipo das colunas dos dados- int64(numerico), object(string), float64(ponto flutuante)
df_food_delivery.dtypes

id_transacao         int64
horario_pedido      object
localidade           int64
nome_item           object
quantidade_item      int64
latitude           float64
longitude          float64
dtype: object

In [62]:
# Converte a coluna "id_transacao" de (int64) para tipo (object) de um DataFrame
df_food_delivery.astype({'id_transacao': 'object'}).dtypes

id_transacao        object
horario_pedido      object
localidade           int64
nome_item           object
quantidade_item      int64
latitude           float64
longitude          float64
dtype: object

In [59]:
df_food_delivery.head()

,id_transacao,horario_pedido,localidade,nome_item,quantidade_item,latitude,longitude
0,1,2023-08-22 15:49:43.623937,33,massa,9,75.305890,-167.695700
1,2,2024-03-02 15:49:43.623937,77,massa,7,-58.695623,-37.145353
2,3,2023-04-18 15:49:43.623937,31,esfiha,6,77.943246,-171.415322
3,4,2023-06-28 15:49:43.623937,60,pizza,5,-72.924345,-171.210506
4,5,2023-11-05 15:49:43.623937,10,salada,8,-44.270912,177.507945

In [63]:
# Fazer um desscrição da tabelaa
df_food_delivery.describe()

       id_transacao  localidade  quantidade_item    latitude   longitude
count    300.000000  300.000000       300.000000  300.000000  300.000000
mean     150.500000   52.153333         5.566667    5.940658  -12.289110
std       86.746758   29.400984         2.924734   52.516499  103.884560
min        1.000000    1.000000         1.000000  -89.110019 -178.673616
25%       75.750000   26.000000         3.000000  -37.648581 -101.797860
50%      150.500000   53.000000         6.000000    8.431997  -10.283505
75%      225.250000   77.000000         8.000000   50.006931   71.990439
max      300.000000  100.000000        10.000000   89.820371  177.632437

In [64]:
# Controlar se tiver valore null na tabela
df_food_delivery.isnull().sum()

id_transacao       0
horario_pedido     0
localidade         0
nome_item          0
quantidade_item    0
latitude           0
longitude          0
dtype: int64

In [65]:
# Salvando o trabalho feito no novo Database
df_food_delivery.to_csv('novo_arquivo_modificado.csv')

## Segunda Forma de Gerar Dados Aleatorios com a biblioteca "Faker"

### Listagem de termos quem pode ajudar a geração de algumas informações

faker: Assim que o script for instalado em seu ambiente, em desenvolvimento você poderia usar python -m faker instead

-h, --help: Mostra as mensagem de ajuda

--version: Mostra o número da versão instalada

-o FILENAME: Redireciona a saída para o nome de arquivo especificado

-l {bg_BG,cs_CZ,...,zh_CN,zh_TW}: Permite o uso de um provedor localizado

-r REPEAT: Irá gerar um número especificado de saídas

-s SEP: Irá gerar o separador especificado após cada saída gerada

-i {my.custom_provider other.custom_provider} Lista de provedores personalizados adicionais a serem usados. Observe que esse é o caminho de importação do pacote que contém sua classe Provider, e não a própria classe Provider personalizada..

fake: É o nome do falso para o qual gerar uma saída, como nome, endereço ou texto

[fake argument ...] argumentos opcionais para passar para o falso (por exemplo, o perfil falso recebe uma lista opcional de nomes de campos separados por vírgula como primeiro argumento)

In [66]:
!pip install Faker

Requirement already satisfied: Faker in c:\users\maurogallotta\anaconda3\lib\site-packages (24.3.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\maurogallotta\anaconda3\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\maurogallotta\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [67]:
import csv
from faker import Faker

# Crie uma instância do Faker com localização em pt_BR
fake = Faker('pt_BR')

In [68]:
# Marca(Mostra) as versões dos pacotes carregados no jupyter notebook
%reload_ext watermark
%watermark -a "Mauro Gallotta" --iversions

Author: Mauro Gallotta

pandas: 1.4.4
csv   : 1.0

In [69]:
# Semente de instancia, para o exemplo ficar igual em qualquer maquina(Otimo para teste)
fake.seed_instance(54)
# 'Leonardo Jesus'

# Exemplo de uso de alguns métodos para gerar dados fictícios
nome_completo = fake.name()
primeiro_nome = fake.first_name()
ultimo_nome = fake.last_name()
endereco = fake.address()
bairro = fake.neighborhood()
cep = fake.postcode()
cidade = fake.city()
nome_estado = fake.estado_nome()
sigla_estado = fake.estado_sigla()
telefone = fake.phone_number()
email = fake.email()
data_de_nascimento = fake.date_of_birth()
rg = fake.rg()
cpf = fake.ssn()
trabalho = fake.job()
empresa = fake.company()
cnpj = fake.cnpj()
placa_do_carro = fake.license_plate()
alfanumerico = fake.vin()
texto = fake.text()

# Exibindo os dados gerados
print("Nome Completo:", nome_completo)
print(" ")
print("Primeiro Nome:", primeiro_nome)
print(" ")
print("Último Nome:", ultimo_nome)
print(" ")
print("Endereço:", endereco)
print(" ")
print("Bairro" , bairro)
print(" ")
print("Cep:", cep)
print(" ")
print("Cidade:", cidade)
print(" ")
print("Estado Nome:", nome_estado)
print(" ")
print("Estado Sigla:", sigla_estado)
print(" ")
print("Telefone:", telefone)
print(" ")
print("E-mail:", email)
print(" ")
print("Data de Nascimento:", data_de_nascimento)
print(" ")
print("RG:", rg)
print(" ")
print("CPF:", cpf)
print(" ")
print("Trabalho:", trabalho)
print(" ")
print("Empresa:", empresa)
print(" ")
print("Cnpj:", cnpj)
print(" ")
print("Placa do Carro:", placa_do_carro)
print(" ")
print("Código Alfanumérico:", alfanumerico)
print(" ")
print("Texto Aleatório:", texto)
print(" ")

Nome Completo: Leonardo Jesus

Primeiro Nome: Camila

Último Nome: Rodrigues

Endereço: Loteamento Isabelly Nascimento, 13
Santa Inês
91858-464 Castro / RS

Bairro Guaratã

Cep: 79060-540

Cidade: Aragão

Estado Nome: Ceará

Estado Sigla: SC

Telefone: +55 84 6303 7692

E-mail: pduarte@example.net

Data de Nascimento: 1989-06-23

RG: 074123567

CPF: 65093827177

Trabalho: Nutrologista

Empresa: Cardoso

Cnpj: 08.714.365/0001-90

Placa do Carro: QJK-0I19

Código Alfanumérico: LRSTS9UP7LYU70MWG

Texto Aleatório: In eius reiciendis quo. Praesentium rerum eos enim iure ratione voluptatibus. Commodi debitis praesentium nam consectetur dicta quia et. Debitis incidunt nesciunt vero repudiandae.

In [70]:
registros_a_gerar = int(input('Quantos registros quer gerar? '))
registros_gerados = 0

# Gerar registros fictícios
registros = []
for i in range(registros_a_gerar):
    registro = {
        'ID': i + 1,
        'Nome': fake.name(),
        'Endereco': fake.address(),
        'Bairro': fake.neighborhood(),
        'Cep': fake.postcode(),
        'Cidade': fake.city(),
        'Estado Nome': fake.estado_nome(),
        'Estado Sigla': fake.estado_sigla(),
        'Telefone': fake.phone_number(),
        'Email': fake.unique.email(),
        'Data de Nascimento': fake.date_of_birth(),
        'RG': fake.unique.rg(),
        'CPF': fake.ssn(),
        'Trabalho': fake.job(),
        'Empresa': fake.company(),
        'Cnpj': fake.cnpj(),
        'Placa de Carro': fake.license_plate(),
        'Codigo Alfanumerico': fake.vin(),
        'Comentario Aleatorio': fake.text(),
    }
    registros.append(registro)
    registros_gerados +=1

# Nome do arquivo CSV de saída
nome_arquivo_csv = 'registros_aleatorios.csv'

# Escreva os registros no arquivo CSV
with open(nome_arquivo_csv, mode='w', newline='') as arquivo_csv:
    campos = ['ID', 'Nome', 'Endereco', 'Bairro', 'Cep', 'Cidade', 'Estado Nome', 'Estado Sigla',  'Telefone', 'Email', 'Data de Nascimento', 'RG', 'CPF', 'Trabalho', 'Empresa', 'Cnpj', 'Placa de Carro', 'Codigo Alfanumerico', 'Comentario Aleatorio']
    escritor_csv = csv.DictWriter(arquivo_csv, fieldnames=campos)

    escritor_csv.writeheader()
    for registro in registros:
        escritor_csv.writerow(registro)

print(f'Foram gerados {registros_gerados} / {registros_a_gerar} registros, e exportados para o arquivo "{nome_arquivo_csv}".')

Quantos registros quer gerar? 1000
Foram gerados 1000 / 1000 registros, e exportados para o arquivo "registros_aleatorios.csv".

## Terceira Forma Para Gerar Dados Aleatorios

In [73]:
profilo_pessoal = fake.profile()
print(profilo_pessoal)

{'job': 'Guarda ou policial rodoviário', 'company': 'Lopes e Filhos', 'ssn': '47596813020', 'residence': 'Sítio de Vieira, 16\nUrca\n11790-431 Porto de Vieira / MA', 'current_location': (Decimal('89.1782395'), Decimal('48.760093')), 'blood_group': 'AB-', 'website': ['https://www.farias.com/', 'http://nascimento.br/'], 'username': 'emanuellyduarte', 'name': 'Gabriel da Mota', 'sex': 'M', 'address': 'Estrada de Dias\nSanta Rita De Cássia\n44248-716 Farias / MS', 'mail': 'maria-vitoriada-paz@yahoo.com.br', 'birthdate': datetime.date(1992, 7, 24)}

In [74]:
profilo_pessoal = fake.profile()
print(profilo_pessoal)
print(" ")
print(profilo_pessoal['job'])
print(" ")
print(profilo_pessoal['username'])
print(" ")

{'job': 'Pesquisador', 'company': 'Freitas', 'ssn': '23064518771', 'residence': 'Travessa de Martins, 22\nHorto Florestal\n99437-556 da Mata de Moreira / RJ', 'current_location': (Decimal('-38.664874'), Decimal('78.967444')), 'blood_group': 'A+', 'website': ['https://ramos.net/', 'http://www.mendes.com/', 'http://www.novaes.br/', 'http://www.da.org/'], 'username': 'msilva', 'name': 'Evelyn Moura', 'sex': 'F', 'address': 'Parque de Sales, 72\nSport Club\n10174-413 Gomes das Flores / PA', 'mail': 'vitorfreitas@bol.com.br', 'birthdate': datetime.date(1932, 8, 19)}

Pesquisador

msilva

## Formas Alternativas de Gerar Dados

In [75]:
estado = fake.estado()
print(estado)
print(" ")
print(estado[0])
print(" ")
print(estado[1])

('PB', 'Paraíba')

PB

Paraíba

## Referencias

In [ ]:
# O link da documentação
https://faker.readthedocs.io/en/master/#pytest-fixtures

In [ ]:
# Onde encontra a versão portugues do Beasil
https://faker.readthedocs.io/en/master/locales/pt_BR.html

In [ ]:
Meu site pessoal :https://maurogallotta.com